  <!DOCTYPE html>
  <html ng-app>
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title></title>
  	<link rel="stylesheet" href="../css/bootstrap.css">
  	<link rel="stylesheet" href="style.css">
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  	<script src="../bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
  <div ng-include="'user_partial.html'"> </div>
  	<div ng-controller="AlbumListController">

     <p >
         <input placeholder="Search for .." type="text" ng-model="searchFor.title" 
            size="30">
     </p>            
      <p>
    	 There are {{albums.length}} albums so far! 
      </p>


    <div class="panel panel-primary album" ng-repeat = "album in albums | filter:searchFor | 
                                               orderBy: 'date'">
        <div class="panel-heading" > {{ album.title }} 
               <div id="albumDate">( {{ album.date }} )</div>
         </div>
        <div class="panel-body">
               {{ album.description }}
        </div>
    </div>

    <div class="space"></div>

    <h3> Add New Album</h3>

      <div class="panel panel-default album">
      <div class="alert alert-danger" ng-show="add_album_error">
                {{ add_album_error }}</div>
      <form name="add_album_form" novalidate>
        <div class="panel-heading" > 
            
             <input type="text" placeholder="Title..." size="20" ng-model="adding_album.title">
               <div id="albumDate">
                 <input ng-required="true" placeholder="yyyy/mm/dd" size="10" type="text" ng-model="adding_album.date">
               </div>
         </div>
        <div class="panel-body">
               <p>
                  <textarea ng-model="adding_album.description" placeholder="Description..." rows="4"></textarea>
               </p>
               <p>
                  <input type="text" class="albumName" placeholder="Album Name..." size="20" ng-model="adding_album.name" >
               </p>
               <p>
                  <button ng-click="addAlbum(adding_album)" type="button" class="btn btn-success">Add New Button</button>
               </p>
        </div>
      </div>
    </form>
  	   
    </div>
    <script type="text/javascript" >
      /*function AlbumListController($scope){
         $scope.adding_album = {};
         $scope.add_album_error = "";
        $scope.albums = [ 
                 { name: 'madrid1309', title: 'Weekend in Madrid', date: '2013-09-01', description: 'My favourite trip' },
                 { name: 'iceland1404', title: 'Holiday in Iceland', date: '2014-04-15', description: 'This place is cold' },
                 { name: 'thailand1210', title: 'Surfing in Thailand', date: '2012-10-01', description: 'So hot!' },
                 { name: 'australia1207', title: 'Wedding in Australia', date: '2012-07-31', description: 'So many kangaroos and koalas!' } ];

        $scope.addAlbum = function(new_album){
             if(!new_album.title)
                   $scope.add_album_error = "Missing title";
             else if(!new_album.date ||  !is_valid_date(new_album.date))
                  $scope.add_album_error = "Date not correct";
            else if(!new_album.description)
                 $scope.add_album_error = "Missing Description";
            else if(!new_album.name)
                  $scope.add_album_error = "Missing Short Name";
            else{
                $scope.albums.push(new_album);
                $scope.adding_album = {};
                $scope.add_album_error = "";
            }
        };
      }
      function UserController($scope){
        $scope.user = { username: "vijetha", fullname: "vijju vijetha"};
      }
      function is_valid_date(the_date){
        if(the_date.match(/^[0-9]{2,4}[\-\/\.,][0-9]{1,2}[\-\/\.,][0-9]{1,2}$/)){
          var d = new Date(the_date);
          return !isNaN(d.getTime());
        }else{
             return false;
        }
      }*/
    </script>
  </body>
  </html>